<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paradisedesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParadiseDesign">
        <activity
            android:name=".tabs.fatura.irsaliye.FaturaIrsaliyeAddActivity"
            android:exported="true" />
        <activity
            android:name=".LicenceKeyActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsAssetsUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsAssetsFindActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsAssetsDeleteActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsAssetsAddActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsOrderFindActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsOrderAddActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsChequesUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsChequesFindActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsChequesAddActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsCashFindActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsCashDeleteActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsCashAddActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.company.EnterpriseAddActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.products.ProductSelectTypeActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.products.ProductsDetailAddActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.workers.WorkersProfileActivity"
            android:exported="true" />
        <activity
            android:name=".tabs.bank.BankDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.depo.DepoDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.workers.WorkersDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.fatura.irsaliye.FaturaIrsaliyeActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.fatura.normal.FaturaManualActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.products.ProductsDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.esmm.EsmmDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.company.ImageSelectActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.company.EditProfileDataActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".EnterpriseProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".StarterRepresentativeActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".tabs.TabsActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".AccountantRegistrationActivity"
            android:exported="true"
            android:label="@string/title_activity_accountant_registration"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".BusinessTaxationRegistrationActivity"
            android:exported="true"
            android:label="@string/business_taxation_registration_title"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ParadiseDesign.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>